# Asset files.
*.pak
*.caf
/gamefps/*
/gamezero/*
/gamesdk/*

# Config files
/user.cfg
/system.cfg
/editor.cfg
/.bootstrap*.*

# Temporary files.
*.sln
*.log
*.dmp
*.pyo
*.pyc
*.bak
*.bak2
error.jpg
_WAF_/user_settings.options

# Binary directories.
/[Bb]in*/
/Tools/rc/*

# Temporary directories.
/TestResults/*
/[Ss]olutions*/
/.depproj/*
/[Ll]og[Bb]ackups
/[Uu]ser*/
__pycache__/*

# Might contain a license key, so don't add it to a repo.
/Code/Tools/waf-1.7.13/recode.lic
/recode.lic

# These are handled elsewhere.
/Code/SDKs/*

# Custom patches backup
/git.patches/*